/*------------------PARAMETRE GENERAL--------------------*/
@font-face {
  font-family: "fjallaone";
  src: url("fonts/fjallaone-regular-webfont.eot");
  src: url("fonts/fjallaone-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/fjallaone-regular-webfont.woff2") format("woff2"),
    url("fonts/fjallaone-regular-webfont.woff") format("woff"),
    url("fonts/fjallaone-regular-webfont.ttf") format("truetype"),
    url("fonts/fjallaone-regular-webfont.svg#fjallaoneregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "montserrat light";
  src: url("fonts/montserrat-light-webfont.eot");
  src: url("fonts/montserrat-light-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/montserrat-light-webfont.woff2") format("woff2"),
    url("fonts/montserrat-light-webfont.woff") format("woff"),
    url("fonts/montserrat-light-webfont.ttf") format("truetype"),
    url("fonts/montserrat-light-webfont.svg#montserratlight") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "montserrat";
  src: url("fonts/montserrat-regular-webfont.eot");
  src: url("fonts/montserrat-regular-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/montserrat-regular-webfont.woff2") format("woff2"),
    url("fonts/montserrat-regular-webfont.woff") format("woff"),
    url("fonts/montserrat-regular-webfont.ttf") format("truetype"),
    url("fonts/montserrat-regular-webfont.svg#montserratregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "montserrat thin";
  src: url("fonts/montserrat-thin-webfont.eot");
  src: url("fonts/montserrat-thin-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/montserrat-thin-webfont.woff2") format("woff2"),
    url("fonts/montserrat-thin-webfont.woff") format("woff"),
    url("fonts/montserrat-thin-webfont.ttf") format("truetype"),
    url("fonts/montserrat-thin-webfont.svg#montserratthin") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "montserrat bold";
  src: url("fonts/montserrat-bold-webfont.eot");
  src: url("fonts/montserrat-bold-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("fonts/montserrat-bold-webfont.woff2") format("woff2"),
    url("fonts/montserrat-bold-webfont.woff") format("woff"),
    url("fonts/montserrat-bold-webfont.ttf") format("truetype"),
    url("fonts/montserrat-bold-webfont.svg#montserratbold") format("svg");
  font-weight: bold;
  font-style: normal;
}

body {
  width: 100%;
  margin: 0;
  background-color: #a7a5a5;
}

/*-----------------------HEADER----------------------------*/
header {
  width: 100%;
  font-family: "fjallaone", Arial, Helvetica, sans-serif;
  background-color: white;
  border-bottom: 1px solid #cacaca;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.logo {
  padding: 0;
  width: 150px;
}
nav {
  display: flex;
  justify-content: center;

  flex-grow: 2;
}
nav a {
  font-size: 30px;
  text-decoration: none;
  color: #587df5;
  margin-right: 100px;
}
/*-----------------------SECTION 1----------------------------*/
.titre {
  font-family: "montserrat bold", Arial, Helvetica, sans-serif;
  color: white;
  text-transform: uppercase;
  font-size: 2rem;
  display: flex;
  justify-content: center;
}
.titre:hover {
  font-family: "montserrat bold", Arial, Helvetica, sans-serif;
  transform: scale(1.5);
  color: #587df5;
}

/*-----------------------SECTION 2 (GRID)----------------------------*/
.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 10% 90%;
  margin-bottom: 40px;
}
.title_grid {
  font-family: "montserrat light", Arial, Helvetica, sans-serif;
  color: white;
  font-size: 1.3rem;
  text-transform: uppercase;
  grid-column-start: 2;
  grid-row-start: 1;
}

.grid_img {
  width: auto;
  height: auto;
  grid-column-start: 2;
  grid-row-start: 2;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 30px;
  grid-template-rows: repeat(3, 1fr);
  grid-row-gap: 50px;
  justify-items: center;
}

.texte_centrer {
  background-color: rgba(0, 0, 0, 0.5);
  font-family: "montserrat thin", Arial, Helvetica, sans-serif;
  color: white;
  text-transform: uppercase;
  text-align: center;
  padding: 15px 5px 15px 5px;
}

/*-----------------------FOOTER----------------------------*/

footer {
  width: 100%;
  background-color: white;
  border-top: 1px solid #cacaca;
  font-family: "fjallaone", Arial, Helvetica, sans-serif;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 50px;
}
footer h2 {
  text-transform: uppercase;
  color: #587df5;
  font-size: 2rem;
}
.coordonnees {
  display: flex;
  justify-content: space-around;
}
.mail {
  border-radius: 0px 50px 50px 0px;
  background-color: rgba(0, 0, 0, 0.2);
  font-family: "montserrat light", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  width: 100%;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 10px;
}
.mail a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}
.mail a:hover {
  font-size: 1rem;
}
.gitlab {
  border-radius: 50px 0px 0px 50px;
  background-color: rgba(0, 0, 0, 0.2);
  font-family: "montserrat light", Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  width: 100%;
  padding-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
.gitlab a {
  color: black;
  font-weight: bold;
  text-decoration: none;
}
.gitlab a:hover {
  font-size: 1rem;
}

/*-----------------------RESPONSIVE----------------------------*/

@media screen and (max-width: 1100px) {
  .titre:hover {
    transform: scale(1.2);
  }
}

@media screen and (max-width: 800px) {
  .titre {
    font-size: 40px;
    text-align: center;
  }

  .grid {
    padding-bottom: 100px;
    grid-template-rows: 75px 1fr;
  }

  .grid_img {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 550px) {
  nav a {
    margin-right: 25px;
  }

  .titre {
    font-size: 30px;
    text-align: center;
  }
  .title_grid {
    grid-column: 1 / span 3;
    font-size: 1.1rem;
    text-align: center;
  }
  .grid_img {
    grid-template-columns: 1fr;
  }
  .mail {
    font-size: 15px;
    border-radius: 0px 25px 25px 0px;
  }

  .gitlab {
    font-size: 15px;
    border-radius: 25px 0px 0px 25px;
  }
}
